/* From Uiverse.io by vamsidevendrakumar */
.card2 {
  width: 300px;
  height: 200px;
  perspective: 1000px;
  overflow: hidden;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.card2:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  background-color: #6a2c70;
  color: #fff;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 10px;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}
.card-front.c1 {
  border: 5px solid #f0895dcc;
}
.card-front.c2 {
  border: 5px solid #cd2600;
}
.card-front.c3 {
  border: 5px solid #09507e;
}
.card-back.c1 {
  background-color: #f05d5d;
  border: 10px solid #f05d5d;
}
.card-back.c2 {
  background-color: #cd2600;
  border: 10px solid #cd2600;
}
.card-back.c3 {
  background-color: #09507e;
  border: 10px solid #09507e;
}
.card-front img {
  width: 100%;
  height: 100%;
}
.card-back {
  color: #fff;
  display: flex;

  border: 10px solid #f08a5d;
  border-radius: 10px;
  gap: 20px;
  flex-direction: column;
  font-size: 24px;
  transform: rotateY(180deg);
}
